// Button

// Your standard button suitable for clicking.

// Markup:
// <button class='k12-button {{modifier_class}}'>Button label</button>
// <a href='#!' class='k12-button {{modifier_class}}'>Button label</a>

// .k12-button--secondary - a secondary button, has borders
// .k12-button--large - large button used to really grab attention!
// .k12-button--reverse - reverses the color scheme - .blue
// .k12-button--secondary-reverse - reverses the color scheme, secondary

// Examples:
// .k12-button--secondary.k12-button--large - a secondary button, has borders - <button class='k12-button k12-button--secondary k12-button--large'>Button label</button>
// .k12-button--primary.k12-button--small - a secondary button, nothing - <button class='k12-button k12-button--primary k12-button--small'>Button label</button>

// Styleguide Components.Button

/**
 * A short description or lengthy explanation about the style. Will be parsed
 * using `markdown`.
 *
 * Descriptions can be multiple lines and end at the first encountered tag.
 * Tags can be in any order and can be multiple lines long as well.
 *
 * @section Section Name
 * @example
 * <div class="my-awesome-class">Example</div>
 */

@mixin k12-button-style($style: default) {
  $all-button-styles: (
    default: (
      color: $k12-whiteout,
      background: $k12-blue-bell,
      hover-color: $k12-whiteout,
      hover-background: $k12-dark-blue,
    ),
    secondary: (
      color: $k12-blue-bell,
      background: $k12-whiteout,
      border: $k12-button-border-width solid $k12-blue-bell,
      hover-color: $k12-blue-bell,
      hover-background: $k12-blackboard-10,
    ),
    default-reverse: (
      color: $k12-blue-bell,
      background: $k12-whiteout,
      hover-color: $k12-blue-bell,
      hover-background: $k12-blackboard-10,
    ),
    secondary-reverse: (
      color: $k12-whiteout,
      background: $k12-blue-bell,
      border: $k12-button-border-width solid $k12-whiteout,
      hover-color: $k12-whiteout,
      hover-background: $k12-dark-blue,
    )
  );

  $button-style: map-get($all-button-styles, $style);
  @if map-has-key($button-style, color) {
    color: map-get($button-style, color);
  }
  @if map-has-key($button-style, background) {
    background: map-get($button-style, background);
  }
  @if map-has-key($button-style, border) {
    border: map-get($button-style, border);
  }
  @if map-has-key($button-style, hover-background) {
    &:hover {
      background: map-get($button-style, hover-background);
    }
  }
  @if map-has-key($button-style, hover-color) {
    &:hover {
      color: map-get($button-style, hover-color);
    }
  }

}

.k12-button {
  display: inline-block;
  padding: $k12-button-padding;
  border-radius: $k12-button-radius;
  border: none;
  font-size: $k12-button-font-size;
  font-family: $k12-button-font-family;
  font-weight: $k12-button-font-weight;
  transition: background-color 0.2s linear;
  cursor: pointer;
  @include k12-button-style(default);
}

a.k12-button {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.k12-button--secondary {
  @include k12-button-style(secondary);
}


.k12-button--reverse {
  @include k12-button-style(default-reverse);
}

.k12-button--secondary-reverse {
  @include k12-button-style(secondary-reverse);
}

.k12-button--large {
  padding: $k12-button-padding-large;
}
