/**
 * Our button is rounded and can have many different styles
 *
 *
 * @section Button
 * @page Components
 */

@mixin k12-button-style($style: default) {
  $all-button-styles: (
    default: (
      color: $k12-whiteout,
      background: $k12-blue-bell,
      hover-color: $k12-whiteout,
      hover-background: $k12-dark-blue,
    ),
    secondary: (
      color: $k12-blue-bell,
      background: $k12-whiteout,
      border: $k12-button-border-width solid $k12-blue-bell,
      hover-color: $k12-blue-bell,
      hover-background: $k12-blackboard-10,
    ),
    default-reverse: (
      color: $k12-blue-bell,
      background: $k12-whiteout,
      hover-color: $k12-blue-bell,
      hover-background: $k12-blackboard-10,
    ),
    secondary-reverse: (
      color: $k12-whiteout,
      background: $k12-blue-bell,
      border: $k12-button-border-width solid $k12-whiteout,
      hover-color: $k12-whiteout,
      hover-background: $k12-dark-blue,
    )
  );

  $button-style: map-get($all-button-styles, $style);
  @if map-has-key($button-style, color) {
    color: map-get($button-style, color);
  }
  @if map-has-key($button-style, background) {
    background: map-get($button-style, background);
  }
  @if map-has-key($button-style, border) {
    border: map-get($button-style, border);
  }
  @if map-has-key($button-style, hover-background) {
    &:hover {
      background: map-get($button-style, hover-background);
    }
  }
  @if map-has-key($button-style, hover-color) {
    &:hover {
      color: map-get($button-style, hover-color);
    }
  }
}

/**
 * @description Our default button styles
 *
 * @example
 * <button class="k12-button">Button label</button>
 * <a href="#" class="k12-button">Button label</a>
 *
 * @sectionof Button
 */

.k12-button {
  display: inline-block;
  padding: $k12-button-padding;
  border-radius: $k12-button-radius;
  border: none;
  font-size: $k12-button-font-size;
  font-family: $k12-button-font-family;
  font-weight: $k12-button-font-weight;
  transition: background-color 0.2s linear;
  cursor: pointer;
  @include k12-button-style(default);
}

a.k12-button {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


/**
 * @description Secondary button styles
 * @modifier .k12-button--secondary
 *
 * @example
 * <button class="k12-button k12-button--secondary">Button label</button>
 * <a href="#" class="k12-button k12-button--secondary">Button label</a>
 *
 * @sectionof Button
 * @exampleContainerBlue true
 */


.k12-button--secondary {
  @include k12-button-style(secondary);
}

/**
 * @description A reverse button styles
 * @modifier .k12-button--reverse
 *
 * @example
 * <button class="k12-button k12-button--reverse">Button label</button>
 * <a href="#" class="k12-button k12-button--reverse">Button label</a>
 *
 * @sectionof Button
 */

.k12-button--reverse {
  @include k12-button-style(default-reverse);
}

/**
 * @description A secondary reverse style
 * @modifier .k12-button--secondary-reverse
 *
 * @example
 * <button class="k12-button k12-button--secondary-reverse">Button label</button>
 * <a href="#" class="k12-button k12-button--secondary-reverse">Button label</a>
 *
 * @sectionof Button
 */

.k12-button--secondary-reverse {
  @include k12-button-style(secondary-reverse);
}


/**
 * @description A large button
 * @modifier .k12-button--large
 *
 * @example
 * <button class="k12-button k12-button--large">Button label</button>
 * <a href="#" class="k12-button k12-button--large">Button label</a>
 *
 * @sectionof Button
 */

.k12-button--large {
  padding: $k12-button-padding-large;
}
