// Pill Button
//
// A pill button and what not stuff
//
// Markup:
// <button class='pill-button {{modifier_class}}'>Button</button>
// <a href='#' class='pill-button {{modifier_class}}'>Button</a>
//
// .pill-button--primary - a primary button
// .pill-button--secondary - a secondary button
//
// Styleguide 3

.pill-button {
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    color: white;
    background: green;
    border-radius: 20px;
    border: none;
    &:hover {
        opacity: 0.95;
    }
}

.pill-button--primary {
    background: blue;
}

.pill-button-secondary {
    background: red;
}
