// Typography
//
// Markup:
// <h1 class="{{modifier_class}}">A kinda heading</h1>
//
// .h1 - bigger
// .h2 - slightly smaller
// .paragraph - a regular paragraph
//
// Styleguide Styles.Typography

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2rem;
}

.paragraph {
  font-size: 1rem;
}
