/**
 * Sass Variables
 *
 * @section Sass Variables
 * @page Styles
 */

/**
 * @title Button Variables
 * @description What we used to build colors
 *
 * @color-variable {$k12-blue-bell} #4658AF - our default blue
 * @color-variable {$k12-teal-me-a-joke} #52D2BC - our default teal
 * @color-variable {$k12-blackboard} #2C2D3E - our default black
 * @color-variable {$k12-whiteout} #FFFFFF - our default black
 *
 * @sectionof Sass Variables
 */

$k12-blue-bell:       #4658AF;
$k12-teal-me-a-joke:  #52D2BC;
$k12-blackboard:      #2C2D3E;
$k12-whiteout:        #FFFFFF;

// blue variants
$k12-dark-blue:       #3C4BA0;
$k12-light-blue:      #7E99FC;
$k12-text-blue:       #3E5BC7;

// gray variants
$k12-blackboard-70:   #6B6C78;
$k12-blackboard-50:   #95969E;
$k12-blackboard-40:   #BFC0C5;
$k12-blackboard-20:   #D5D5D8;
$k12-blackboard-10:   #D5D5D8;

// teal variants
$k12-dark-teal:       #1AA69F;
$k12-light-teal:      #B2F1E6;

/**
 * @title Button Variables
 * @description What we used to build our buttons
 *
 * @sass-variable {$k12-button-font-size} 16px - our default blue
 * @sass-variable {$k12-button-padding} 10px 50px - our default blue
 * @sass-variable {$k12-button-radius} 99px - our default blue
 *
 * @sectionof Sass Variables
 */

$k12-button-font-size:        16px;
$k12-button-padding:          10px 50px;
$k12-button-radius:           99px;
$k12-button-padding-large:    20px 70px;
$k12-button-border-width:     3px;
$k12-button-font-family:      'Poppins', sans-serif;
$k12-button-font-weight:       500;

